.root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

app-home {
  height: 92%;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-icon label{
  display: flex;
  justify-content: center;
}
